In [14]:
import pandas as pd

In [15]:
people = {
    'first': ['John', 'Jane', 'Johnny'],
    'last': ['Doe', 'Doe', 'Obana'],
    'email': ['Doe@gmail.com', 'Smith@fremail.hu', 'Obana@gmail.hu'],
}

In [16]:
df = pd.DataFrame(people)

In [17]:
filt = df['last'] == 'Doe'

In [18]:
filt

0     True
1     True
2    False
Name: last, dtype: bool

In [19]:
df[filt]

  first last             email
0  John  Doe     Doe@gmail.com
1  Jane  Doe  Smith@fremail.hu

In [20]:
df.loc[filt, 'email']

0       Doe@gmail.com
1    Smith@fremail.hu
Name: email, dtype: object

In [21]:
filt2 = (df['first'] == 'John') & (df['last'] == 'Doe')

In [22]:
df.loc[filt2, 'email']

0    Doe@gmail.com
Name: email, dtype: object

In [23]:
filt3 = (df['first'] == 'John') | (df['last'] == 'Doe')

In [24]:
df.loc[filt3, 'email']

0       Doe@gmail.com
1    Smith@fremail.hu
Name: email, dtype: object

In [25]:
df.loc[~filt3, 'email']

2    Obana@gmail.hu
Name: email, dtype: object

In [26]:
df_survey = pd.read_csv(
    'csv/survey_results_public.csv', index_col='Respondent')

In [27]:
filter_high_salary = df_survey['ConvertedComp'] > 7000

In [34]:
df_survey.loc[filter_high_salary, ['Age', 'Country', 'ConvertedComp']].sort_values(by='ConvertedComp', ascending=False).head(3)

             Age        Country  ConvertedComp
Respondent
26262       27.0  United States      2000000.0
3072        32.0  United States      2000000.0
53629       60.0  United States      2000000.0

In [37]:
filter_hungary = df_survey['Country'] == 'Hungary'

In [41]:
df_survey.loc[filter_hungary, ['Age', 'DevType', 'ConvertedComp' , 'CompFreq']].sort_values(
    by='ConvertedComp', ascending=False).head(10)

,Age,DevType,ConvertedComp,CompFreq
Respondent,,,,
54198,38.0,Data or business analyst;Data scientist or mac...,250000.0,Yearly
46816,NaN,"Developer, back-end;Developer, full-stack;Educ...",230916.0,Monthly
17411,37.0,"Developer, back-end;Developer, front-end;Devel...",135123.0,Yearly
13612,NaN,"Developer, full-stack",129720.0,Monthly
7033,22.0,"Developer, mobile",124800.0,Yearly
16126,44.0,Academic researcher;Data or business analyst;D...,111341.0,Yearly
59482,33.0,"Developer, back-end",90804.0,Monthly
50680,29.0,"Developer, full-stack;Developer, mobile",90000.0,Yearly
13242,35.0,"Developer, back-end;Developer, desktop or ente...",78912.0,Yearly
12431,38.0,"Developer, full-stack",76971.0,Yearly